{% extends "base.html" %} {% block content %}

<style>
  .info-card {
    background: linear-gradient(90deg, rgb(64, 120, 85), rgb(255, 255, 255));
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(25, 37, 20, 0.99);
    padding: 25px;
    margin-top: 20px;
  }

  .newww {
    background: linear-gradient(90deg, rgb(64, 120, 85), rgb(255, 255, 255));
    border: none;
  }

  .biggg {
    background: linear-gradient(90deg, rgb(1, 52, 10), rgb(64, 120, 85));
    color: rgb(206, 255, 180);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin: 0px 250px 20px 250px;
    padding: 20px px 20px 0px;
  }
</style>

<div class="container">
  <div class="biggg">
    <h2 class="text-center mb-4">🌾 Crop Information</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 shadow newww">
        <form action="/cropsInfo" method="POST">
          <label class="form-label">Enter Crop Name</label>

          <input
            type="text"
            name="crop"
            class="form-control"
            placeholder="e.g. rice, maize, banana"
            required
          />

          <button class="btn btn-success mt-3 w-100">Search Crop</button>
        </form>
      </div>
    </div>
  </div>

  {% if crop_data %}

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="info-card">
        <h3 class="text-center mb-3">{{ crop_name.upper() }}</h3>

        <p><b>Climate:</b> {{ crop_data.climate }}</p>

        <p><b>Soil Type:</b> {{ crop_data.soil }}</p>

        <p><b>Growing Season:</b> {{ crop_data.season }}</p>

        <p><b>Water Requirement:</b> {{ crop_data.water }}</p>

        <p><b>Fertilizer:</b> {{ crop_data.fertilizer }}</p>

        <pre style="white-space: pre-wrap">{{ crop_data.description }}</pre>
      </div>
    </div>
  </div>

  {% endif %}
</div>

{% endblock %}
