{% extends "base.html" %} {% block content %}

<style>
  .market-header {
    background: linear-gradient(90deg, rgb(1, 52, 10), rgb(64, 120, 85));
    color: rgb(206, 255, 180);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin: 0px 250px 20px 250px;
    padding: 20px px 20px 0px;
  }

  .market-card {
    background: linear-gradient(90deg, rgb(64, 120, 85), rgb(255, 255, 255));
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .price {
    font-size: 26px;
    font-weight: bold;
    color: #1e7f3f;
  }

  .empty-state {
    text-align: center;
    margin-top: 40px;
    color: #666;
  }

  .brit{
    color:rgb(255, 230, 0);
  }
</style>

<div class="container">
  <!-- HEADER -->
  <div class="market-header">
    <h2>📊 Agricultural Market Insights</h2>
    <p>Get real-time mandi prices of crops across India.</p>
  </div>

  <!-- SEARCH FORM -->
  <form method="POST" class="mb-4">
    <div class="row">
      <div class="col-md-5">
        <input
          type="text"
          name="crop"
          class="form-control"
          placeholder="Enter Crop (e.g. Wheat)"
          required
        />
      </div>

      <div class="col-md-5">
        <input
          type="text"
          name="state"
          class="form-control"
          placeholder="Enter State (e.g. Uttar Pradesh)"
          required
        />
      </div>

      <div class="col-md-2">
        <button class="btn btn-success w-100">Search</button>
      </div>
    </div>
  </form>

  <!-- ERROR -->
  {% if error %}
  <div class="alert alert-danger text-center">{{ error }}</div>
  {% endif %}

  <!-- DEFAULT LIVE CARDS -->
  {% if default_data %}

  <h4 class="text-center mb-4 brit">🌟 Popular Crops (Live Prices)</h4>

  <div class="row">
    {% for item in default_data %}

    <div class="col-md-4">
      <div class="market-card">
        <h4>🌾 {{ item.commodity }}</h4>

        <p class="price">₹ {{ item.modal_price }} / Quintal</p>

        <p>{{ item.market }}, {{ item.district }}</p>
      </div>
    </div>

    {% endfor %}
  </div>

  {% endif %}

  <!-- LIVE API DATA -->
  {% if data %}

  <h4 class="text-center mb-4">📍 Live Mandi Prices</h4>

  <div class="row">
    {% for item in data %}

    <div class="col-md-4">
      <div class="market-card">
        <h4>🌾 {{ item.commodity }}</h4>

        <p class="price">₹ {{ item.modal_price }} / Quintal</p>

        <p><b>Market:</b> {{ item.market }}</p>
        <p><b>District:</b> {{ item.district }}</p>
      </div>
    </div>

    {% endfor %}
  </div>

  {% endif %}
</div>

{% endblock %}
