{% extends "base.html" %} {% block content %}

<style>


  .card {
    background: linear-gradient(90deg, rgb(64, 120, 85), rgb(255, 255, 255));
    border-radius: 15px;
    border: none;
  }

  .biggg {
    background: linear-gradient(90deg, rgb(1, 52, 10), rgb(64, 120, 85));
    color: rgb(206, 255, 180);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin: 0px 250px 20px 250px;
    padding: 20px px 20px 0px;
  }
</style>

<div class="container ">
  <div class="biggg">
    <h2 class="text-center mb-4">🌾 State Based Farming Advisory</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        {% if error %}
        <div class="alert alert-danger text-center">{{ error }}</div>
        {% endif %}

        <form method="POST">
          <label class="form-label">Select State</label>

          <select name="state" class="form-control" required>
            <option value="">Choose State</option>

            {% for state in states %}
            <option value="{{ state }}">
              {{ state.replace("_"," ").title() }}
            </option>
            {% endfor %}
          </select>

          <button class="btn btn-success w-100 mt-3">Get Advisory</button>
        </form>
      </div>
    </div>
  </div>

  {% if advisory %}

  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <div class="card p-4">
        <h4>State: {{ state_name }}</h4>

        <p><b>Climate:</b> {{ advisory.climate }}</p>

        <p><b>Major Crops:</b> {{ advisory.crops }}</p>

        <p><b>Soil Type:</b> {{ advisory.soil }}</p>

        <p><b>Rainfall:</b> {{ advisory.rainfall }}</p>

        <p><b>Farming Advice:</b></p>
        <pre style="white-space: pre-wrap">{{ advisory.advice }}</pre>
      </div>
    </div>
  </div>

  {% endif %}
</div>

{% endblock %}
